.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
.idea/
*.iml

android/.gradle/
android/local.properties
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
